/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-3-15, 21:57:10
    Author     : O_0
*/

body{
   background-color: #EFEFEF;
    
}
@media (min-width: 992px){
   .container {
      width: 670px;
   }
}
@media (min-width: 1200px){
   .container {
      width: 570px;
   }
}
.yellow{
   background-color:#FFBB33
}
.red{
   background-color: #FF4444;
}
.blue{
   background-color:#33B5E5;
}
.green{
   background-color: #99CC00;
}
.purple{
   background-color: #AA66CC;
}


.main{
   position: relative;
}
.myInfo{
   position: absolute;

}
.myInfo strong{
   display: block;
   text-align: right;
}
.myNext{
   position: absolute;
}
.myNext .table>tbody>tr>td{
   width: 25px;
   height: 25px;
}
#next{margin: 0;}

.solid{
   width:100%;
   height: 65px;
   margin-bottom: 20px;
}
.game-box{background-color: #E0E0E0;}
.game-box>tbody>tr>td{
   border-color: #fff;
   border-width: 1px;
}
.game-box .disable{
   position: relative;
}
.game-box .disable:after{
   content: " ";
   position: absolute;
   display: block;
   top: -20.7%;
   left: 50%;
   width: 3px;
   height: 141.4%;
   transform: rotate(-45deg);
   -ms-transform:rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   background-color: #F8F8F8;
}
.game-box .disable:before{
   content: " ";
   position: absolute;
   display: block;
   top: -20.7%;
   left: 50%;
   width: 3px;
   height: 141.4%;
   transform: rotate(45deg);
   -ms-transform:rotate(45deg);
   -webkit-transform: rotate(45deg);
   background-color: #F8F8F8;
}
.help-img{
   width: 20px;
   height: 20px;
   position: absolute;
   right: -25px;
   top: 4px;
}

@media (min-width: 992px) {
   .myInfo{
      font-size:20px;
      left:-85px;
   }
   .myInfo strong{
      font-size:32px;
   }
   .myNext{
      font-size:20px;
      right:-105px;
   }
}
@media (max-width: 991px) {
   .myInfo{
      font-size:12px;
      top:-100px;
   }
   .myInfo strong{
      font-size:21px;
   }
   .myNext{
      font-size: 15px;
      right: 15px;
      top:-100px;
   }
   .help-img{
      right: 82px;
      top: 3px;
      width: 14px;
      height: 14px;
   }
}